:root {
  --color-blue: #344D67;
  --color-main: #f4f6f9;
  --color-aside: #eceff4;
  --scrollbar-color: #a9a9a9;
  --background: #d8dee9;
  --txt-color-white: #343a40;
  --nav-link-color: black;
  --icono-cerrar-color: #57889c;
  --collapse-menu-color: #6D6A69;
  --border-top: 1px solid #d8dee9;
  --btn-header-border: 1px solid #bfbfbf;
  --box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-sidebar: 3px 0 5px 0 rgba(33, 35, 39, 0.2);
  --btn-header-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08);
  --nav-tabs-box-shadow: 0 -2px 0 #344D67;
  --footer-font-size: 10px;
  --footer-font-weight: 600;
  --width-sidebar: 220px;
  --left-collapsed: 220px;
  --collapsed-sidebar: -210px;
  --collapsed: -220px;
  --left-expanded: 0px;
  --logo-group-height: 39px --sidebar-height: calc(100% - (1.5rem + 1px));
  --sidebar-padding: 0.5rem;
  --transition: 250ms cubic-bezier(0.1, .57, .1, 1);
  --btn-width: 13px;
  --btn-height: 30px;
  --footer-height: 18px;
  --width: 100%;
  --ribbon-min-height: 60px;
  --ribbon-top: 40px;
  --fixed-ribbon-width: 944px;
  --fixed-ribbon-left: 590px;
  --content-padding: 3px;
  --content-padding-top: 44px;
  --nav-link-padding: .3rem 1rem;
  --nav-tabs-margin-top: 1%;
  --p-tabview-width: 98%;
}

.container {
  min-width: var(--width);
}

/**
* Contenedor área de trabajo
*/
#main {
  padding: 0;
  padding-bottom: 52px;
  background-color: var(--color-main);
  position: relative;
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(0.5rem + 1px));
  margin-top: 49px;
}

/**
*Margen izquierda del contedor con menú lateral expandido
*/
.content-wrapper {
  margin-left: var(--left-collapsed) !important;
  overflow: auto;
  height: 100%;
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/**
*Margen izquierda del contedor con menú lateral colapsado
*/
.content-expanded {
  margin-left: 0 !important;
}

.content-expanded #content {
  padding: 10px 14px !important;
  position: absolute;
  padding-top: 44px !important;
}

/**
* Clase que incluye el encabezado
*/
.fixed-header .headerr {
  position: fixed;
  width: 100%;
  z-index: 905;
  top: 0;
}

/**
* Encabezado
*/
.headerr {
  display: block;
  width: 100%;
  height: var(--ribbon-top);
  margin: 0;
  padding: 0 13px 0 0;
  background: var(--color-blue);
  background-repeat: repeat-x;
  box-shadow: var(--box-shadow);
  z-index: 905;
}



/**
* Ancho del mneú lateral izquierdo
*/
.header>:first-child,
aside {
  width: var(--width-sidebar);
}

/**
* Estilo del span del logo de usuario
*/
#logo-group>span {
  display: inline-block;
  height: var(--logo-group-height);
  float: left
}

/**
* Estilos del menú lateral izquierdo
*/

aside {
  display: block;
  background: var(--color-aside);
  min-height: 100%;
}

.sidebar {

  height: calc(100% - (1.5rem + 1px));
  overflow-x: hidden;
  overflow-y: initial;
  padding-bottom: 0;
  padding-left: var(--sidebar-padding);
  padding-right: var(--sidebar-padding);
  padding-top: 0;
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: none;
}

/**
* Clase que define el menú lateral izquierdo
*/
.sidebar-xoftix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 904 !important;
  padding-top: 49px;
  width: var(--width-sidebar);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translate(0px, 0) translateZ(0px);
  -webkit-box-shadow: var(--box-shadow-sidebar);
  -moz-box-shadow: var(--box-shadow-sidebar);
  box-shadow: var(--box-shadow-sidebar);
}

/**
* Estilo hover aplicado cuando el menú lateral
*/

.sidebar-hover:hover {
  left: 0px !important;
  z-index: 903;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: translate(0px, 0) translateZ(0px);
}

/**
* Scrollbar de menú lateral izquierdo
*/
.sidebar::-webkit-scrollbar {
  display: none;
}

/**
* Botón que colapsa el menú
*/
#collapse-menu {
  float: right;
  //margin-top: -1rem;
  position: relative;
  right: 0px;
 // background-color: red;
    height: 2rem;
    bottom: 7px;
}

/**
* clase del botón que colapsa el menú
*/
.btn-header {
  z-index: 9999;
  width: var(--btn-width);
}

/**
* clase del botón que colapsa el menú
*/
.btn-header.pull-right {
  margin-left: -0.3rem;
  display: block
}

/**
* Estilos del botón que colapsa el menú
*/
.btn-header a>span {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  height: var(--btn-height);
  display: block
}

/**
* Estilos del botón que colapsa el menú
*/
.btn-header>:first-child>a {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer !important;
  display: inline-block;
  font-weight: 700;
  height: 30px;
  line-height: 11px;
  min-width: 5px;
  width: 13px;
  padding: 1px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, .03); // cambiar el color por variable definida
  color: var(--color-blue);
  font-size: 17px;
  margin: 10px 0 0
}

/**
* Estilo hover del botón que colapsa el menú lateral izquierdo
*/
.btn-header>:first-child>a:hover {
  border: var(--btn-header-border);
  transition: all 0s;
  cursor: pointer;
  -webkit-box-shadow: var(--btn-header-box-shadow);
  box-shadow: var(--btn-header-box-shadow);
}

/**
* Clase del pie de página
*/
.main-footer {
  height: var(--footer-height);
  padding: 0px 13px 0;
  padding-left: 233px;
  margin-left: 0 !important;
  border-top: var(--border-top);
  // background: #2a2725;
  background: var(--background);
  width: 100%;
  display: block;
  bottom: 0;
  position: fixed;
  z-index: 901;
}

/**
* Estilo que se aplica al texto del pie de página
*/
.main-footer .txt-color-white {
  color: var(--txt-color-white) !important;
  font-size: var(--footer-font-size) !important;
  //  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  font-weight: var(--footer-font-weight);
}

/**
* Estilo aplicado al pie de paǵina cuando el menú lateral se expande
*/
.main-footer-expanded {
  height: var(--footer-height);
  padding: 0px 13px 0;
  padding-left: 0 !important;
  margin-left: 0 !important;
  border-top: var(--border-top);
  background: var(--background);
  width: 100%;
  display: block;
  bottom: 0;
  position: fixed;
  z-index: 901;
}

/**
* Estilo que se aplica al texto del pie de página cuando el menú se expande
*/
.main-footer-expanded .txt-color-white {
  color: var(--txt-color-white) !important;
  font-size: var(--footer-font-size) !important;
  // font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  font-weight: var(--footer-font-weight);
  padding-left: 1rem;
}

/**
* Estilo ribbon
*/
#ribbon {
  min-height: var(--ribbon-min-height);
  background: var(--background);
  padding: 0 13px;
  position: fixed;
  right: 0;
  top: var(--ribbon-top);
  z-index: 901
}

/**
* Clase que se aplica al ribbon cuando el menú lateral se colapsa
*/
.fixed-ribbon #ribbon {
  left: var(--left-collapsed);
}

/**
* Clase que se aplica al ribbon cuando el menú lateral se expande
*/
.fixed-ribbon-expanded #ribbon {
  left: 0px;
}

/**
* Contenedor del ribbon
*/
.container.fixed-ribbon #ribbon {
  width: var(--fixed-ribbon-width);
  left: var(--fixed-ribbon-left)
}

/**
* Contenedor de los datos del área de trabajo
*/
#content {
  padding-left: var(--content-padding) !important;
  position: relative;
  padding-top: var(--content-padding-top);
  height: 100%;
  overflow: scroll;
}

.nav-link {
  color: var(--nav-link-color) !important;
  padding: .3rem 1rem;
  cursor: pointer;

}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  -webkit-box-shadow: var(--nav-tabs-box-shadow);
  -moz-box-shadow: var(--nav-tabs-box-shadow)c;
  box-shadow: var(--nav-tabs-box-shadow);
  border-top-width: 0 !important;
  margin-top: 1px !important;
  font-weight: 700;
  border-radius: 0;
}

.nav-tabs {
  margin-top: var(--nav-tabs-margin-top) !important;
}

.icono-cerrar:hover {
  color: var(--icono-cerrar-color)
}


@media (max-width:979px) {

  #main {
    //width: 100% !important
    margin-top: 52px;
  }

  .main-footer {
    padding-left: 0px !important;
  }

  #fullscreen>:first-child>a {
    display: none !important
  }

  body.container {
    border: none !important;
    width: 100% !important
  }

}


@media (min-width:768px) and (max-width:979px) {
  #main {
    //margin-left: 0 !important
    margin-top: 52px;
  }

  .main-sidebar {
    // left: var(--left-expanded) !important
  }

  .main-footer {
    padding-left: var(--left-collapsed) !important;
  }

  // #collapse-menu>:first-child>a {
  //     margin-top: 9px;
  //     width: 40px
  // }

  .btn-header a {
    margin-top: 9px !important;
    //  width: 40px !important
  }

  .img-grap {
    //  display: none;
  }

  // #collapse-menu i {
  //     color:var(--collapse-menu-color);
  //     font-size: 100%
  // }

}

@media (min-width:768px) and (max-width:880px) {
  #main {
    //margin-left: 0 !important;
    overflow-x: hidden;
    margin-top: 52px;
  }

  .main-sidebar {
    //left: var(--left-expanded) !important
  }

  .no-content-padding {
    margin: 0 -14px !important
  }


  .fixed-ribbon #ribbon {
    left: var(--left-collapsed) !important
  }

  .img-grap {
    // display: none;
  }
}

@media (max-width:767px) {
  #main {
    margin-left: 0 !important;
    overflow-x: hidden
  }

  .main-sidebar {
    left: var(--collapsed) !important
  }

  #content,
  #ribbon {
    padding-left: 5px;
    padding-right: 5px
  }

  .headerr {
    padding-right: 5px
  }

  .no-content-padding {
    margin: 0 -5px !important
  }

  .fixed-ribbon #ribbon {
    left: var(--left-expanded) !important
  }

  .fixed-ribbon #content {
    padding-top: 52px
  }

  .main-footer {
    padding-left: 3px !important;

  }

  .img-grap {
    //display: none;
    padding-left: 10px;
  }
}

@media only screen and (min-width:0) and (max-width:679px) {

  #main {
    margin-left: 0 !important;
    overflow-x: hidden;
    margin-top: 54px;
  }

  .main-sidebar {
    left: var(--collapsed) !important
  }

  .main-footer {
    padding-left: 3px !important;
  }

  #content,
  #ribbon {
    padding-left: 5px;
    padding-right: 5px
  }

  .headerr {
    padding-right: 5px
  }

  .no-content-padding {
    margin: 0 -5px !important
  }

  .headerr {
    background: var(--color-blue)
  }

  #ribbon {
    border-top: var(--border-top);
    background: var(--background);
    height: 49px !important;
  }

  .fixed-ribbon #ribbon {
    left: var(--left-expanded) !important
  }

  .ul-user-menu {
    position: fixed;
    right: 0;
    top: 0rem;
  }

  .img-grap {
    // display: none;
  }

}

@media only screen and (min-width:320px) and (max-width:479px) {

  #main {
    margin-left: 0 !important;
    overflow-x: hidden
  }

  .main-sidebar {
    left: var(--collapsed-sidebar) !important
  }

  .main-footer {
    padding-left: 0px !important;
  }

  #content,
  #ribbon {
    padding-left: 5px;
    padding-right: 5px
  }

  .headerr {
    padding-right: 5px
  }

  .no-content-padding {
    margin: 0 -5px !important
  }

  .headerr {
    background: var(--color-blue)
  }

  #ribbon {
    border-top: var(--border-top);
    background: var(--background);
  }

  #logo-group {
    width: 169px !important
  }

  .fixed-ribbon #ribbon {
    left: 0 !important
  }

  .ul-user-menu {
    position: fixed;
    right: 0;
    top: 0rem;
  }

  .img-grap {
    //display: none;
  }
}


@media only screen and (min-width:0) and (max-width:320px) {

  #main {
    margin-left: 0 !important;
    overflow-x: hidden
  }

  .main-sidebar {
    left: var(--collapsed-sidebar) !important
  }

  #content,
  #ribbon {
    padding-left: 5px;
    padding-right: 5px
  }

  .headerr {
    padding-right: 5px
  }

  .no-content-padding {
    margin: 0 -5px !important
  }

  .headerr {
    background: var(--color-blue)
  }

  #ribbon {
    border-top: var(--border-top);
    background: var(--background);
  }

  #logo-group {
    width: 169px !important
  }

  .fixed-ribbon #ribbon {
    left: 0 !important
  }

  // .ul-user-menu{
  //     position: fixed;
  //     right: 0;
  //     visibility: hidden !important;
  //     top: 0rem;
  // }
  .img-grap {
    // display: none;
  }

}

#button-menu{
  bottom: 0.7rem;
  position: relative;
  display: flex;

}
.container {
  min-width: 100%;
}

:host ::ng-deep .btn-align-form-button {
  margin-top: 0px !important;
}

.nav-tabs>li.active>a {
  -webkit-box-shadow: var(--nav-tabs-box-shadow);
  -moz-box-shadow: var(--nav-tabs-box-shadow);
  box-shadow: var(--nav-tabs-box-shadow);
  border-top-width: 0 !important;
  margin-top: 1px !important;
  font-weight: 700;
}

:host ::ng-deep .tab-move>.p-tabview>.p-tabview-nav-container {
  bottom: 16px !important;
  position: fixed !important;
  width: 100% !important;
  left: auto !important;
  z-index: 10;

}

.p-tabview .p-tabview-panels {
  padding: 0.2rem 0rem 0rem 0.5rem;
  height: auto;
}

:host ::ng-deep .p-tabview {
  width: 98%;

}

:host ::ng-deep .card-header {
  margin-left: 0px;
}

.footer-dialog {
  .p-dialog-content{
    background: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }
 
}

.p-component-overlay-block{
    background-color: rgba(0, 0, 0, 0.90) !important;
}

