.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  color: white;
}

.imagen-loading {
  width: 50%;
}

.message-top {
  position: fixed;
  top: 0;
  right: 0;
  height: 80px;
  width: 100%;
  z-index: 1;

  .alert {
    opacity: 0.9;
  }
}

.color-required {
  color: red;
}
