/**
 * 00. variables scss Xoftix
 *
 * -------------------------------------------------------------------
 */
 $azulXoftix: #0885c8;
 $blancoLetra:#fff;
 $fuenteXoftix:'Source Sans Pro', sans-serif !important;
 $botonGuardar:#6F86DB;
 $botonCancerlar: #EB4354;
 /**
 * 01. variables scss modo dark Xoftix
 *
 * -------------------------------------------------------------------
 */
 $darkXoftix: #4e4e4e;
 $blancoXoftix:#fff;